.home-container {
  height: 90vh;
  background-image: url("../../../public/theme.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: 0;
  opacity: 0.9;
  color: azure;
  font-family: cursive;
  text-align: center;
  overflow-y: hidden;
}

.home-container h1 {
  margin-top: 3em;
}

.home-container p {
  font-size: 20px;
  margin-bottom: 50px;
}

/* Login AND Register Buttons */
@import url("https://fonts.googleapis.com/css?family=Montserrat:600&display=swap");

span {
  position: relative;
  display: inline-flex;
  width: 180px;
  height: 55px;
  margin: 0 15px;
  perspective: 1000px;
}
span a {
  font-size: 19px;
  letter-spacing: 1px;
  transform-style: preserve-3d;
  transform: translateZ(-25px);
  transition: transform 0.25s;
  font-family: "Montserrat", sans-serif;
}
span a:before,
span a:after {
  position: absolute;
  content: "BUTTON";
  height: 55px;
  width: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 5px solid azure;
  box-sizing: border-box;
  border-radius: 5px;
}
span a:before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 25px;
  color: #1d3557;
  background: azure;
  transform: rotateY(0deg) translateZ(25px);
}

.sign-up:before {
  content: "\f234";
}

.login:before {
  content: "\f2f6";
}

.sign-up:after {
  content: "Sign Up";
}

.login:after {
  content: "Log In";
}

span a:after {
  color: azure;
  transform: rotateX(90deg) translateZ(25px);
}
span a:hover {
  transform: translateZ(-25px) rotateX(-90deg);
}

/* ----------------------- */
