nav {
  background-color: #1d3557;
  padding-bottom: 10px;
  overflow-y: hidden;
  color: azure;
}

.navbar-nav {
  padding: 0px 10px;
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: space-evenly;
  align-content: center;
}

.nav-item {
  padding: 10px;
  width: 15em;
  height: 2em;
  font-size: 16px;
  text-align: center;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.logo {
  font-weight: bold;
  font-size: 12px;
  width: 150px;
  border-radius: 150px;
  border: 1px solid #b6b6b6;
}

.date {
  border-bottom: 1px solid #b6b6b6;
  width: 80%;
  height: 1em;
  display: block;
  padding-bottom: 5px;
  margin-bottom: 5px;
}

.cve {
  width: 30em;
  font-size: 12px;
}

.cve table {
  border-collapse: collapse;
}

.cve table th,
.cve table td {
  height: 1.6em;
  width: 15em;
  border: 2px solid #b6b6b6;
}

.buttons ul {
  list-style: none;
  display: flex;
}

.buttons li {
  margin: 10px;
}

.buttons a {
  text-decoration: none;
  color: azure;
}

.active {
  font-weight: 800;
}

.buttons a:hover {
  color: #7ac5eb;
}
