#dash-main-container {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
}

/* First Section */
#sec1 {
  border-bottom: 1px solid rgb(24, 24, 24);
  overflow-x: hidden;
}

/* End of First Section */

/* Second Section */

#sec2 {
  display: flex;
  margin-bottom: 50px;
  border-bottom: 1px solid rgb(24, 24, 24);
}

/* End of Second Section */

/* Third Section */

#sec3-container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
}

.sec2-img img {
  margin-top: 4vh;
  margin-left: 10vh;
  height: 65vh;
}
/* End of Third Section */

/* Fourth Section */
#sec4 {
  display: flex;
  justify-content: center;
  align-content: center;
  margin-left: 50px;
  padding: 50px 0px;
  border-bottom: 1px solid rgb(24, 24, 24);
}
/* End of Fourth Section */

/* Fifth Section */

#line-chart-container {
  right: -100px;
  position: relative;
}
/* End of Fifth Section */
