#map-container {
  align-self: center;
  margin: 0 auto;
}

#map-container h2 {
  text-align: center;
  font-family: Georgia, "Times New Roman", Times, serif;
  margin-top: 50px;
  font-size: 30px;
}
